<!DOCTYPE html>
<html>
<head>
    <title>Social Media Analytics</title>
</head>
<body>
    <h1>Social Media Analytics Microservice</h1>
    <p>Welcome! Use the links below to explore the data:</p>
    <ul>
        <li><a href="/top-posts">Top 5 Most Commented Posts</a></li>
        <li><a href="/latest-posts">Latest Posts</a></li>
        <li><a href="/top-users">Top Users</a></li>
        <li><a href="/top-posts-filtered?type=popular">Top Posts (Popular)</a></li>
        <li><a href="/top-posts-filtered?type=latest">Latest Posts</a></li>
        <li><a href="/api/v1/users">Get Users (JSON API)</a></li>
    </ul>
</body>
</html>